<!doctype html>
<head>
<title>elchOS</title>
<link rel="stylesheet" href="/static/core.css">
</head>
<div id="icon" >
  <img id="elchos-img" src="/static/icons/elchos.png"><br>
  <h3>Host Listing<h3>
  <ul id="all-hosts">
    {% for host in allhosts.values() | sort(attribute='name') %}
      <li>
        <a class=hostlink href="ftp://anonymous@{{ host["ip"]+":"+host["port"] + "/" }}">
          {{host["name"]}} (tx:{{host["net-tx"]|default(0)|int}},cpu:{{host['cpu']|default(0)|int}},port:{{host['port']}})
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
<div class=page>
  <h1>{{ site_title }}</h1>
  <div id="search" >
    <form action="/api/search", method="post"  >
      <input name="searchterm"  id="searchform" placeholder="Search for files"></input>
    </form>
  </div>
  <table>
    <thead>
      <tr>
        <th></th>
        <th id="filename">Filename</th>
        <th>Size</th>
        <th>Nodes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="..">
            <img src="/static/icons/folder_up.png" class="list-img">
          </a>
        </td>
        <td>
          <a href="..">..</a>
        </td>

        {% for link in content %}
        <tr>
          {% if link["type"] == "file" %}
          <td>
            <a href="ftp://anonymous@{{ link["nodes"][0] + "/" + link["fullpath"]}}">
              <img src="/static/icons/file.png" class="list-img">
            </a>
          </td>
          <td><a href="ftp://anonymous@{{ link["nodes"][0] + "/" + link["fullpath"]}}">{{ link["name"] }}</a>
            {% if 'score' in link %}
            <div><a href="/{{ link['path'] }}/" class="small-path">/{{ link['path'] }}/</a></div>
          {% endif %}
          </td>
          <td>{{ (link["size"]/1000000)|round(1) }} MB</td>
          <td>
            {% for node in link["nodes"] %}
            <a href="ftp://anonymous@{{ node + "/" + link["fullpath"]}}">
              {{allhosts[node]["name"]}}</a><span></span>
            {% endfor %}
          </td>
          {% endif %}
          {% if link["type"] == "folder" %}
          <td>
            <a href="/{{ link["fullpath"] }}/"></a>
            <img src="/static/icons/folder.png" class="list-img">
            </a>
          </td>
          <td><a href="/{{ link["fullpath"] }}/">{{ link["name"] }}</a>
            {% if 'score' in link %}
            <div><a href="/{{ link['path'] }}/" class="small-path">/{{ link['path'] }}</a></div>
          {% endif %}
            </td>
          <td></td><td>
            {% for node in link["nodes"] %}
            <a href="ftp://anonymous@{{ node + "/" + link["fullpath"]}}">
              {{allhosts[node]["name"]}}</a><span></span>
            {% endfor %}
          </td>
          {% endif %}
          {% if 'score' in link %}
          <td>{{ link['score'] }}</td>
          {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</div>
